<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Flowbite Flask</title>
  <script>
    // On page load or when changing themes, best to add inline in `head` to avoid FOUC
    if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        document.documentElement.classList.add('dark');
    } else {
        document.documentElement.classList.remove('dark')
    }
  </script>
  <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
</head>

<body class="bg-white dark:bg-gray-900">
  
  <main>

    <section class="bg-white dark:bg-gray-900">

      <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-12">
        
        <button id="theme-toggle" type="button" class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5">

          <svg id="theme-toggle-dark-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path></svg>
          <svg id="theme-toggle-light-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
        </button>
          
        <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white">Text Pre-processing</h1>
        <p class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400">Masukkan kalimat yang akan di-preprocessing pada form input di bawah ini.</p>
        
        <div class="space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4"> 
          
          <form method="post">
            <!-- 
            <div class="w-full mb-4 border border-gray-200 rounded-lg bg-gray-50 dark:bg-gray-700 dark:border-gray-600">
                
                <div class="px-4 py-2 bg-white rounded-b-lg dark:bg-gray-800">
                    <label for="editor" class="sr-only">Publish post</label>

                    <textarea id="editor" rows="5" class="block w-full px-0 text-sm text-gray-800 bg-white border-0 dark:bg-gray-800 focus:ring-0 dark:text-white dark:placeholder-gray-400" placeholder="Tulis teks yang akan di-preprocessing..." required></textarea>
                    
                </div>
                
            </div> -->
            <div class="w-full mb-4">
              <textarea id="message" rows="4" name="sentence" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Tulis teks yang akan di-preprocessing...">{{ sentence }}</textarea>
            </div>

            
            <div>
              <div class="text-left mb-4">
                <h3 class="mb-4 font-semibold text-gray-900 dark:text-white">Bahasa</h3>
                <ul class="items-center w-full text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg sm:flex dark:bg-gray-700 dark:border-gray-600 dark:text-white">
                  <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600">
                    <div class="flex items-center pl-3">
                      <input id="english_lang" type="radio" value="english" name="language" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500" required {{ 'checked' if lang=='english' else '' }}>
                      <label for="english_lang" class="w-full py-3 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Inggris</label>
                    </div>
                  </li>  
                  <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600">
                    <div class="flex items-center pl-3">
                        <input id="indonesian_lang" type="radio" value="indonesia" name="language" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500" {{ 'checked' if lang=='indonesia' else '' }}>
                        <label for="indonesian_lang" class="w-full py-3 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Indonesia </label>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="text-left mb-4">
                <h3 class="mb-4 font-semibold text-gray-900 dark:text-white">Stemmer & Lemmatizer</h3>
                <ul class="items-center w-full text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg sm:flex dark:bg-gray-700 dark:border-gray-600 dark:text-white">
                    <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600">
                        <div class="flex items-center pl-3">
                            <input id="porter_stemmer" type="radio" value="porter" name="stemmer_lemmatizer" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500" required {{ 'checked' if stem_lemm_type=='porter' else '' }}>
                            <label for="porter_stemmer" class="w-full py-3 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Porter Stemmer (Inggris)</label>
                        </div>
                    </li>
                    <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600">
                        <div class="flex items-center pl-3">
                            <input id="wordnet_lemmatizer" type="radio" value="wordnet" name="stemmer_lemmatizer" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500" {{ 'checked' if stem_lemm_type=='wordnet' else '' }}>
                            <label for="wordnet_lemmatizer" class="w-full py-3 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Wordnet Lemmatizer (Inggris)</label>
                        </div>
                    </li>
                    <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600">
                        <div class="flex items-center pl-3">
                            <input id="mp_stemmer" type="radio" value="mp" name="stemmer_lemmatizer" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500" {{ 'checked' if stem_lemm_type=='mp' else '' }}>
                            <label for="mp_stemmer" class="w-full py-3 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Multi-Phase Stemmer (Indonesia)</label>
                        </div>
                    </li>
                    <li class="w-full dark:border-gray-600">
                        <div class="flex items-center pl-3">
                            <input id="sastrawi_stemmer" type="radio" value="sastrawi" name="stemmer_lemmatizer" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500" {{ 'checked' if stem_lemm_type=='sastrawi' else '' }}>
                            <label for="sastrawi_stemmer" class="w-full py-3 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Sastrawi Stemmer (Indonesia)</label>
                        </div>
                    </li>
                </ul>
              </div>
            </div>         

            <button type="submit" class="inline-flex mt-4 items-center px-5 py-2.5 text-sm font-medium text-center text-white bg-blue-700 rounded-lg focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-900 hover:bg-blue-800">
                Preprocess
            </button>
          </form>

        </div>
          
      </div>
      
    </section>

    

    {% if sentence == "": %}
    

    {% else: %}
    <section class="bg-white dark:bg-gray-900">
    
      <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16">
      
        <div class="bg-gray-50 dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg p-8 md:p-12 mb-8">
          
          <h1 class="text-gray-900 dark:text-white text-2xl md:text-4xl font-extrabold mb-2">Hasil Pre-processing</h1>
          
          <div id="accordion-open" data-accordion="open" class="mt-8">
            <!-- CASE FOLDING -->
            <h2 id="case_folding_heading">
              <button type="button" class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-b-0 border-gray-200 rounded-t-xl focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800" data-accordion-target="#case_folding_body" aria-expanded="true" aria-controls="case_folding_body">
                <span>Case folding</span>
                <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                </svg>
              </button>
            </h2>
            <div id="case_folding_body" class="hidden" aria-labelledby="case_folding_heading">
              <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900">
                <p class="mb-2 text-gray-500 dark:text-gray-400">Teks sebelum case folding:</p>
                <p class="mb-2 text-gray-500 dark:text-gray-400"><span class="bg-blue-100 text-blue-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300">{{sentence}}</span>
                  </p>
                <p class="mb-2 text-gray-500 dark:text-gray-400">Teks setelah case folding:</p>
                <p class="text-gray-500 dark:text-gray-400"><span class="bg-green-100 text-green-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300">{{ case_folding }}</span>
                  </p>
              </div>
            </div>
            
            <!-- TOKENIZATION -->
            <h2 id="tokenization_heading">
              <button type="button" class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800" data-accordion-target="#tokenization_body" aria-expanded="false" aria-controls="tokenization_body">
                <span class="flex items-center">Tokenisasi</span>
                <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                </svg>
              </button>
            </h2>
            <div id="tokenization_body" class="hidden" aria-labelledby="tokenization_heading">
              <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900">
                <p class="mb-2 text-gray-500 dark:text-gray-400">Teks sebelum tokenisasi:</p>
                <p class="mb-2 text-gray-500 dark:text-gray-400"><span class="bg-blue-100 text-blue-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300">{{ case_folding }}</span></p>
                <p class="mb-2 text-gray-500 dark:text-gray-400">Teks setelah tokenisasi:</p>
                <p class="text-gray-500 dark:text-gray-400">
                  {% for word in tokenize_word %}
                    <span class="bg-green-100 text-green-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300"> {{ word }}</span>
                  {% endfor %}</p>
              </div>
            </div>

            <!-- FILTERING -->
            <h2 id="filtering_heading">
              <button type="button" class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800" data-accordion-target="#filtering_body" aria-expanded="false" aria-controls="filtering_body">
                <span class="flex items-center">Filtering (Stopword Removal)</span>
                <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                </svg>
              </button>
            </h2>
            <div id="filtering_body" class="hidden" aria-labelledby="filtering_heading">
              <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900">
                <p class="mb-2 text-gray-500 dark:text-gray-400">Teks sebelum filtering (stopword removal):</p>
                <p class="mb-2 text-gray-500 dark:text-gray-400">
                  {% for word in tokenize_word %}
                    <span class="bg-blue-100 text-blue-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300"> {{ word }}</span>
                  {% endfor %}
              </p>
                <p class="mb-2 text-gray-500 dark:text-gray-400">Teks setelah filtering (stopword removal):</p>
                <p class="text-gray-500 dark:text-gray-400">
                  {% for word in stopword_removal_word %}
                    <span class="bg-green-100 text-green-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300">{{word}}</span>
                  {% endfor %}
                </p>
              </div>
            </div>
        
          <!--   

            <h2 id="normalization_heading">
              <button type="button" class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800" data-accordion-target="#normalization_body" aria-expanded="false" aria-controls="normalization_body">
                <span class="flex items-center">Normalisasi</span>
                <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                </svg>
              </button>
            </h2>
            <div id="normalization_body" class="hidden" aria-labelledby="normalization_heading">
              <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900">
                <p class="mb-2 text-gray-500 dark:text-gray-400">Teks sebelum normalisasi:</p>
                <p class="mb-2 text-gray-500 dark:text-gray-400">Flowbite is an open-source library of interactive components built on top of Tailwind CSS including buttons, dropdowns, modals, navbars, and more.</p>
                <p class="mb-2 text-gray-500 dark:text-gray-400">Teks setelah normalisasi:</p>
                <p class="text-gray-500 dark:text-gray-400">Flowbite is an open-source library of interactive components built on top of Tailwind CSS including buttons, dropdowns, modals, navbars, and more.</p>
              </div>
            </div> 
            
          -->

            <!-- NORMALIZATION -->
            <h2 id="normalization_heading">
              <button type="button" class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800" data-accordion-target="#normalization_body" aria-expanded="false" aria-controls="normali#normalization_body">
                <span class="flex items-center">Normalisasi (Stemming & Lemmatization)</span>
                <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                </svg>
              </button>
            </h2>
            <div id="normalization_body" class="hidden" aria-labelledby="normalization_heading">
              <div class="p-5 border border-t-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900">
                <p class="mb-2 text-gray-500 dark:text-gray-400">Teks sebelum normalisasi:</p>
                <p class="mb-2 text-gray-500 dark:text-gray-400">
                  {% for word in stopword_removal_word %}
                    <span class="bbg-blue-100 text-blue-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300">{{word}}</span>
                  {% endfor %}
                </p>
                <p class="mb-2 text-gray-500 dark:text-gray-400">Teks setelah normalisasi:</p>
                <p class="text-gray-500 dark:text-gray-400">
                  {% for word in stem_lemm_word %}
                    <span class="bg-green-100 text-green-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300">{{word}}</span>
                  {% endfor %}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% endif %}


  </main>
  
  <!-- <script srv="{{url_for('static',filename='src/index.js')}}"></script> -->
  <script>
    var themeToggleDarkIcon = document.getElementById('theme-toggle-dark-icon');
    var themeToggleLightIcon = document.getElementById('theme-toggle-light-icon');

    // Change the icons inside the button based on previous settings
    if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        themeToggleLightIcon.classList.remove('hidden');
    } else {
        themeToggleDarkIcon.classList.remove('hidden');
    }

    var themeToggleBtn = document.getElementById('theme-toggle');

    themeToggleBtn.addEventListener('click', function() {

        // toggle icons inside button
        themeToggleDarkIcon.classList.toggle('hidden');
        themeToggleLightIcon.classList.toggle('hidden');

        // if set via local storage previously
        if (localStorage.getItem('color-theme')) {
            if (localStorage.getItem('color-theme') === 'light') {
                document.documentElement.classList.add('dark');
                localStorage.setItem('color-theme', 'dark');
            } else {
                document.documentElement.classList.remove('dark');
                localStorage.setItem('color-theme', 'light');
            }

        // if NOT set via local storage previously
        } else {
            if (document.documentElement.classList.contains('dark')) {
                document.documentElement.classList.remove('dark');
                localStorage.setItem('color-theme', 'light');
            } else {
                document.documentElement.classList.add('dark');
                localStorage.setItem('color-theme', 'dark');
            }
        }
        
    });
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.7.0/flowbite.min.js"></script>
</body>

</html>